/* First Section
--------------------------------------------- */

.head-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
    margin: 0 100px;

    @media screen  and (max-width: 900px) {
        flex-direction: column;
        height: auto;
    }

    .head-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        color: $color-text;

        @media screen  and (max-width: 900px) {
            width: 100%;
        }
        @media screen  and (max-width: 650px) {
            align-items: center;
            justify-content: center;
        }

        .title {
            font-size: calc(5em + 10px);
            margin-top: 100px;

            @media screen  and (max-width: 650px) {
                text-align: center;
            }
        }

        p {
            opacity: 0.6;
            margin: 50px 0;
            line-height: 40px;
        }

    }

    .head-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @media screen  and (max-width: 900px) {
            width: 100%;
        }
        @media screen  and (max-width: 650px) {
            justify-content: center;
        }


        .head-img {
            @include size(250px, 250px);
            border: 1px solid $color-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen  and (max-width: 650px) {
                margin-top: 20px;
            }


            .img-head {
                @include size(150px, 150px);
            }
        }

        .head1 {
            transform: translate(120px, 80px);
            border-radius: 15em;

            @media screen  and (max-width: 650px) {
                transform: translate(0px, 0px); 
            }

            .head-img1 {
                border-radius: 15em;
            }
        }

        .head2,
        .head-img2 {
            border-bottom-right-radius: 15em;
            border-top-right-radius: 15em;
        }

        .head3 {
            transform: translate(-180px, -50px);

            @media screen  and (max-width: 650px) {
                transform: translate(0px, 0px); 
            }
        }
    }
}