/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Abstract
	- Mixins
	-Variables

# Base
	- Typography
	- Elements

# Components
	- Button

# Layouts

# Main.scss

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Abstract
--------------------------------------------------------------*/
/* Colors
--------------------------------------------- */
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Comfortaa", cursive;
}

/* Typography
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spartan", sans-serif;
}

/* Elements
--------------------------------------------- */
/* Body
--------------------------------------------- */
body {
  background: #000;
}

/* Inherit box-sizing to more easily change it's value on a component level. */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Button
--------------------------------------------- */
/* Button
--------------------------------------------- */
.btn-empty {
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 40px;
  background-color: #000;
  border: 1px solid #9F8F65;
  text-align: center;
  color: #9F8F65;
  text-decoration: none;
  margin-top: 20px;
}
.btn-empty:hover {
  color: #000;
  background-color: #9F8F65;
  border: 1px solid;
  transition: all 0.5s;
}

.btn-full {
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 40px;
  background-color: #9F8F65;
  border: 1px solid;
  text-align: center;
  color: #000;
  text-decoration: none;
  margin-top: 20px;
}
.btn-full:hover {
  color: #9F8F65;
  background-color: #000;
  border: 1px solid #9F8F65;
  transition: all 0.5s;
}

.line {
  margin: 5% 8%;
  border: none;
  height: 2px;
  background-color: #9F8F65;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .line {
    margin: 10%;
  }
}
.line .line-svg {
  fill: #9F8F65;
  width: 5em;
  height: 5em;
}

.line-v {
  margin: 0 5%;
  height: 100%;
  width: 1px;
  background-color: #9F8F65;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/* First Section
--------------------------------------------- */
.head-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  margin: 0 100px;
}
@media screen and (max-width: 900px) {
  .head-container {
    flex-direction: column;
    height: auto;
  }
}
.head-container .head-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .head-container .head-left {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .head-container .head-left {
    align-items: center;
    justify-content: center;
  }
}
.head-container .head-left .title {
  font-size: calc(5em + 10px);
  margin-top: 100px;
}
@media screen and (max-width: 650px) {
  .head-container .head-left .title {
    text-align: center;
  }
}
.head-container .head-left p {
  opacity: 0.6;
  margin: 50px 0;
  line-height: 40px;
}
.head-container .head-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .head-container .head-right {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .head-container .head-right {
    justify-content: center;
  }
}
.head-container .head-right .head-img {
  width: 250px;
  height: 250px;
  border: 1px solid #9F8F65;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .head-container .head-right .head-img {
    margin-top: 20px;
  }
}
.head-container .head-right .head-img .img-head {
  width: 150px;
  height: 150px;
}
.head-container .head-right .head1 {
  transform: translate(120px, 80px);
  border-radius: 15em;
}
@media screen and (max-width: 650px) {
  .head-container .head-right .head1 {
    transform: translate(0px, 0px);
  }
}
.head-container .head-right .head1 .head-img1 {
  border-radius: 15em;
}
.head-container .head-right .head2,
.head-container .head-right .head-img2 {
  border-bottom-right-radius: 15em;
  border-top-right-radius: 15em;
}
.head-container .head-right .head3 {
  transform: translate(-180px, -50px);
}
@media screen and (max-width: 650px) {
  .head-container .head-right .head3 {
    transform: translate(0px, 0px);
  }
}

.sell-container {
  margin: 0 100px;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .sell-container {
    flex-direction: column;
    height: 125vh;
    margin: 0 50px;
  }
}
.sell-container .sell-product {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 900px) {
  .sell-container .sell-product {
    width: 100%;
  }
}
.sell-container .sell-product .sell-img {
  border-radius: 50px;
  max-width: 80%;
  height: min-content;
}
.sell-container .sell-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 900px) {
  .sell-container .sell-description {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.sell-container .sell-description .sell-title {
  font-size: 4.5em;
}
@media screen and (max-width: 900px) {
  .sell-container .sell-description .sell-title {
    text-align: center;
  }
}
.sell-container .sell-description .sell-creator {
  color: #e26125;
  opacity: 0.7;
}
.sell-container .sell-description .sell-creator span {
  color: #fff;
  opacity: 0.4;
}
.sell-container .sell-description .sell-price {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  .sell-container .sell-description .sell-price {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.sell-container .sell-description .sell-price .price-title,
.sell-container .sell-description .sell-price .price-quantity {
  opacity: 0.5;
}
.sell-container .sell-description .sell-price .price-timer {
  font-size: 2em;
  margin: 10px 0;
}
.sell-container .sell-description .btn1 {
  width: fit-content;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections
--------------------------------------------- */
header {
  margin: 20px 100px;
}
@media screen and (max-width: 550px) {
  header {
    display: flex;
    justify-content: center;
  }
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .nav-bar {
    flex-direction: column;
  }
}
.nav-bar .nav-logo {
  color: #9F8F65;
}
.nav-bar .nav-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 800px) {
  .nav-bar .nav-element {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.nav-bar .nav-element li {
  margin: 10px;
}
.nav-bar .nav-element li a {
  color: #9F8F65;
  text-decoration: none;
}
.nav-bar .nav-element .nav-medias {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #9F8F65;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-element .nav-medias .nav-media {
  margin-top: 2px;
  text-decoration: none;
  color: #9F8F65;
  background-color: #000;
}

/*# sourceMappingURL=main.css.map */
