/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Abstract
	- Mixins
	-Variables

# Base
	- Typography
	- Elements

# Components
	- Button

# Layouts

# Main.scss

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Abstract
--------------------------------------------------------------*/
/* Colors
--------------------------------------------- */
/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Comfortaa", cursive;
}

/* Typography
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spartan", sans-serif;
  color: #fff;
}

/* Elements
--------------------------------------------- */
/* Body
--------------------------------------------- */
body {
  background: #000;
}

/* Inherit box-sizing to more easily change it's value on a component level. */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Button
--------------------------------------------- */
/* Button
--------------------------------------------- */
.btn-empty {
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 40px;
  background-color: #000;
  border: 1px solid #9F8F65;
  text-align: center;
  color: #9F8F65;
  text-decoration: none;
  margin-top: 20px;
}
.btn-empty:hover {
  color: #000;
  background-color: #9F8F65;
  border: 1px solid;
  transition: all 0.5s;
}

.btn-full {
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 40px;
  background-color: #9F8F65;
  border: 1px solid;
  text-align: center;
  color: #000;
  text-decoration: none;
  margin-top: 20px;
}
.btn-full:hover {
  color: #9F8F65;
  background-color: #000;
  border: 1px solid #9F8F65;
  transition: all 0.5s;
}

.line {
  margin: 5% 8%;
  border: none;
  height: 2px;
  background-color: #9F8F65;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .line {
    margin: 10%;
  }
}
.line .line-svg {
  fill: #9F8F65;
  width: 5em;
  height: 5em;
}

.line-v {
  margin: 0 5%;
  height: 100%;
  width: 1px;
  background-color: #9F8F65;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/* First Section
--------------------------------------------- */
.head-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  margin: 0 100px;
}
@media screen and (max-width: 900px) {
  .head-container {
    flex-direction: column;
    height: auto;
  }
}
.head-container .head-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .head-container .head-left {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .head-container .head-left {
    align-items: center;
    justify-content: center;
  }
}
.head-container .head-left .title {
  font-size: calc(5em + 10px);
  margin-top: 100px;
}
@media screen and (max-width: 650px) {
  .head-container .head-left .title {
    text-align: center;
  }
}
.head-container .head-left p {
  opacity: 0.6;
  margin: 50px 0;
  line-height: 40px;
}
.head-container .head-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .head-container .head-right {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .head-container .head-right {
    justify-content: center;
  }
}
.head-container .head-right .head-img {
  width: 250px;
  height: 250px;
  border: 1px solid #9F8F65;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .head-container .head-right .head-img {
    margin-top: 20px;
  }
}
.head-container .head-right .head-img .img-head {
  width: 150px;
  height: 150px;
}
.head-container .head-right .head1 {
  transform: translate(120px, 80px);
  border-radius: 15em;
}
@media screen and (max-width: 650px) {
  .head-container .head-right .head1 {
    transform: translate(0px, 0px);
  }
}
.head-container .head-right .head1 .head-img1 {
  border-radius: 15em;
}
.head-container .head-right .head2,
.head-container .head-right .head-img2 {
  border-bottom-right-radius: 15em;
  border-top-right-radius: 15em;
}
.head-container .head-right .head3 {
  transform: translate(-180px, -50px);
}
@media screen and (max-width: 650px) {
  .head-container .head-right .head3 {
    transform: translate(0px, 0px);
  }
}

.sell-container {
  margin: 50px 100px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #fff;
}
@media screen and (max-width: 900px) {
  .sell-container {
    flex-direction: column;
    height: fit-content;
    margin: 50px;
  }
}
.sell-container .sell-product {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 900px) {
  .sell-container .sell-product {
    width: 100%;
  }
}
.sell-container .sell-product .sell-img {
  border-radius: 50px;
  max-width: 80%;
  height: min-content;
}
.sell-container .sell-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 900px) {
  .sell-container .sell-description {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.sell-container .sell-description .sell-title {
  font-size: 4.5em;
}
@media screen and (max-width: 900px) {
  .sell-container .sell-description .sell-title {
    text-align: center;
  }
}
.sell-container .sell-description .sell-creator {
  color: #e26125;
  opacity: 0.7;
}
.sell-container .sell-description .sell-creator span {
  color: #fff;
  opacity: 0.4;
}
.sell-container .sell-description .sell-price {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  .sell-container .sell-description .sell-price {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.sell-container .sell-description .sell-price .price-title,
.sell-container .sell-description .sell-price .price-quantity {
  opacity: 0.5;
}
.sell-container .sell-description .sell-price .price-timer {
  font-size: 2em;
  margin: 10px 0;
}
.sell-container .sell-description .btn1 {
  width: fit-content;
}

.collection-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100Px;
}
.collection-container .title {
  font-size: calc(3.2em + 10px);
  margin: 70px 0;
}

.collection-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.collection-list .collection-element {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 350px;
  height: fit-content;
  color: #fff;
  background-color: #1d1410b6;
  border: 1px solid #9F8F65;
  border-radius: 50px;
}
@media screen and (max-width: 1100px) {
  .collection-list .collection-element {
    margin: 15px;
  }
}
.collection-list .collection-element .element {
  width: 100%;
  height: auto;
  border-radius: 50px;
  padding: 3%;
}
.collection-list .collection-element .element-artist {
  width: 50px;
  height: 50px;
  border: 1px solid #9F8F65;
  border-radius: 50%;
  transform: translate(0px, -30px);
}
.collection-list .collection-element .element-name {
  font-size: 1.5em;
  height: 120px;
  padding: 10px 20px;
}
.collection-list .collection-element .element-price {
  margin-bottom: 50px;
}
.collection-list .collection-element .element-price,
.collection-list .collection-element .element-artist-name {
  font-size: 1em;
  opacity: 0.7;
}
.collection-list .collection-element .element-artist-name {
  height: 75px;
}
.collection-list .collection-element .element-artist-name span {
  color: #e26125;
}

.btn-collection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn-collection svg {
  margin-left: 10px;
}

.future-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin: 0 100px;
}
@media screen and (max-width: 1050px) {
  .future-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.future-container .future-images {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  .future-container .future-images {
    width: 100%;
    margin-top: 100px;
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .future-container .future-images {
    padding: 0 50px;
  }
}
.future-container .future-images .future-img {
  width: 200px;
  height: auto;
  border-radius: 25px;
}
.future-container .future-images .future-img2,
.future-container .future-images .future-img4 {
  transform: translate(0px, 45px);
}
@media screen and (max-width: 650px) {
  .future-container .future-images .future-img2,
.future-container .future-images .future-img4 {
    transform: translate(0px, 0px);
  }
}
.future-container .future-images .future-img1 {
  transform: translate(0px, -45px);
}
@media screen and (max-width: 1050px) {
  .future-container .future-images .future-img1 {
    width: 135px;
  }
}
@media screen and (max-width: 650px) {
  .future-container .future-images .future-img1 {
    transform: translate(0px, 0px);
  }
}
.future-container .future-images .future-img4 {
  width: 135px;
}
.future-container .future-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1050px) {
  .future-container .future-description {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}
.future-container .future-description .future-title {
  font-size: calc(3.2em + 10px);
  font-weight: bold;
  margin-bottom: 20px;
}
.future-container .future-description .future-text {
  font-size: calc(0.8em + 10px);
  opacity: 0.7;
  margin-bottom: 20px;
  color: #fff;
}
.future-container .future-description .future-btn {
  margin-top: 20px;
  width: fit-content;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections
--------------------------------------------- */
header {
  margin: 20px 100px;
}
@media screen and (max-width: 550px) {
  header {
    display: flex;
    justify-content: center;
  }
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .nav-bar {
    flex-direction: column;
  }
}
.nav-bar .nav-logo {
  color: #9F8F65;
}
.nav-bar .nav-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 800px) {
  .nav-bar .nav-element {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.nav-bar .nav-element li {
  margin: 10px;
}
.nav-bar .nav-element li a {
  color: #9F8F65;
  text-decoration: none;
}
.nav-bar .nav-element .nav-medias {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #9F8F65;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-element .nav-medias .nav-media {
  margin-top: 2px;
  text-decoration: none;
  color: #9F8F65;
  background-color: #000;
}

footer {
  margin: 100px 100px 0;
}
@media screen and (max-width: 550px) {
  footer {
    display: flex;
    justify-content: center;
  }
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .nav-bar {
    flex-direction: column;
  }
}
.nav-bar .nav-logo {
  color: #9F8F65;
}
.nav-bar .nav-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 800px) {
  .nav-bar .nav-element {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.nav-bar .nav-element li {
  margin: 10px;
}
.nav-bar .nav-element li a {
  color: #9F8F65;
  text-decoration: none;
}
.nav-bar .nav-element .nav-medias {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #9F8F65;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-element .nav-medias .nav-media {
  margin-top: 2px;
  text-decoration: none;
  color: #9F8F65;
  background-color: #000;
}

/*# sourceMappingURL=main.css.map */
